body {
  background-color: #cccccc;
  color: #cccccc;
  font-family: "Albert Sans", sans-serif;
}

.container {
  background: linear-gradient(
    180deg,
    rgba(32, 13, 37, 1) 0%,
    rgba(67, 22, 75, 1) 50%,
    rgba(99, 30, 111, 1) 100%
  );
  border-radius: 8px;
  margin: auto;
  width: 780px;
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.header-title {
  color: #fecd23;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 32px;
}

.header-text-1 {
  margin: 14px;
}

.header-text-2 {
  margin-bottom: 15px;
}

.flex-container {
  background: linear-gradient(
    180deg,
    rgba(99, 30, 111, 1) 0%,
    rgba(67, 22, 75, 1) 50%,
    rgba(32, 13, 37, 1) 100%
  );
  border-radius: 8px;

  text-align: center;

  margin: auto;
  width: 95%;
}

.data-entry {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;

  padding: 12px;
}

.data-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 28px;
}

input {
  width: 70%;
  height: 26px;
  margin: 12px;
  padding-left: 8px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.border-card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(38, 55, 218, 1) 0%,
    rgba(52, 41, 136, 1) 50%
  );
  width: 26%;
  margin-bottom: 16px;
  border-radius: 6px;
}

.card-1 {
  background: linear-gradient(
    180deg,
    rgba(64, 99, 239, 1) 0%,
    rgba(116, 206, 254, 1) 50%
  );
  width: 90%;
  height: 90%;
  padding-bottom: 10px;
}

.sports {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3px;
}

object {
  margin-bottom: 8px;
}

.border-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(38, 55, 218, 1) 0%,
    rgba(52, 41, 136, 1) 50%
  );
  width: 26%;
  margin-bottom: 16px;
  border-radius: 6px;
}

.card-2 {
  background: linear-gradient(
    180deg,
    rgba(64, 99, 239, 1) 0%,
    rgba(116, 206, 254, 1) 50%
  );
  width: 90%;
  height: 90%;
  padding-bottom: 10px;
}

.simulation {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3px;
}

.border-card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(38, 55, 218, 1) 0%,
    rgba(52, 41, 136, 1) 50%
  );
  width: 26%;
  margin-bottom: 16px;
  border-radius: 6px;
}

.card-3 {
  background: linear-gradient(
    180deg,
    rgba(64, 99, 239, 1) 0%,
    rgba(116, 206, 254, 1) 50%
  );
  width: 90%;
  height: 90%;
  padding-bottom: 10px;
}

.strategy {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3px;
}

button {
  margin-bottom: 16px;
  width: 60%;
  height: 40px;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #1d0c20;

  border-radius: 2px;
  border: none;

  cursor: pointer;
}

button:hover {
  background-color: #27152b;
}

.footer {
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 620px) {
  html {
    font-size: 14px;
  }

  .container {
    width: 95%;
  }

  .header {
    padding: 2px;
  }

  .header-title {
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .flex-container {
    width: 88%;
  }

  .data-entry {
    padding: 28px;
  }

  input {
    width: 85%;
    height: 42px;
    font-size: 18px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .border-card-1,
  .border-card-2,
  .border-card-3 {
    width: 65%;
    height: 20pc;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 90%;
  }
}
